# This is a .gitignore file for a Python project
# It specifies files and directories that should be ignored by Git
# when committing changes to the repository.
# Common Python files and directories to ignore
# Python bytecode files
lstm_leak_detection.ipynb
data_generation.ipynb
learning_curve.png
lstm.ipynb
simulated_multiphase_pipeline_data_realistic.csv
simulated_multiphase_pipeline_time_series_data.csv
my_tuner_dir_no_smote/
my_tuner_dir_with_smote
my_tuner_dir/
keras_tuner_no_resample_dir/
keras_tuner_dir/
my_dir/
venv/
*.pyc
__pycache__/
*.pyo
*.pyd
*.db
*.log
*.sqlite3
*.egg-info/
*.DS_Store
*.env
*.coverage
*.idea/
*.vscode/
*.pytest_cache/
*.mypy_cache/
*.tox/
*.dist-info/
*.egg
*.zip
*.tar.gz
*.rar
*.7z
*.bak
*.swp
*.tmp